<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aboutus</title>
</head>
<body>
      <h1>Welcome to the Aboutus Page</h1>

      <a href="addproduct"><button>ADD PRODUCT</button></a>

      <h2>This is Store Revenue Table </h2>

      <table border="2">
          <tr>
              <th>ITEM</th>
              <th>COST</th>
              <th>REVENUE</th>
              <th>PROFIT</th>

          </tr>
          <tr th:each="product:${records}" >
             <!-- th:style="${product.revenue-product.cost>=0?}" -->
              <td th:text="${product.item}"></td>
              <td th:text="${product.cost}"></td>
              <td th:text="${product.revenue}"></td>
              <td th:text="${product.revenue-product.cost}"></td>

          </tr>
      </table>

</body>
</html>